/* sidebar */
body {
  font-family: 'Lato', sans-serif;
  transition: background-color 0.5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.fab,
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.fab:hover,
.sidenav a:hover {
  color: pink;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* side nav title */
h2 {
  margin-left: 20px;
  color: pink;
}

/* social media icons animation */
.social {
  padding-top: 300px;
  display: flex;
  align-items: center;
}

.social2 {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-buttons a {
  display: inline-flex;
  text-decoration: none;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 15px 15px;
}

.social-buttons a::before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before {
  transform: scale(0);
}

.social-buttons a i {
  transition: 0.3s ease-in;
  color: #0d6efd;
}

.social-buttons a:hover i {
  background: linear-gradient(45deg, pink, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}

img {
  width: 350px;
  height: 700px;
  margin-top: 10px;
  border-radius: 5%;
  float: right;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

#follow {
  margin-left: 18%;
}

#mail {
  margin-left: 35%;
}
